body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(221, 224, 194);
}

.App {
  text-align: center;
}

.photo-slider {
  // max-height: 70vh;
  height: 70vh;
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgb(81, 94, 86);
  position: relative;
}

.photos-slider-wrapper {
  display: flex;
  // background-color: greenyellow;
  height: 500px;
  position: absolute;

  left: 50%;
  top: 50%;
  margin: -250px auto auto -150px;


  // align-items: center;
  // justify-content: space-evenly;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  .photo {

    // margin: 15px auto 15px -100px;
    min-width: 300px;
    // min-width: 400px;
    border: solid 3px black;
    min-height: auto;
    background-color: rgb(194, 121, 39);
    opacity: 0.4;
    cursor: pointer;
    transform: scale(0.7);
    transition: opacity 300ms linear,
      transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

      &:hover {
        opacity: 0.7;
        transform: scale(0.8);
      }

    &.active {
      opacity: 1;
      transform: scale(1);
      cursor: auto;

    }
  }
}